h1{
    text-align: center;
}
#btnback, #btnnext{
    border-radius: 50%;
}
#imagen{
    height: 100%;
    position: relative;
    z-index: 1;
}
#capa2{
    position: relative;
    margin: 0px auto 0px auto;
    width: auto;
    height: 70%;
}
#capa{
    background: url(../..//img/paradox.jpg) no-repeat fixed center;
    margin: auto;
    background-size: cover; 
    filter: blur(6px);
    width: 100%;
    height: 100%;
    position: absolute;

    overflow: hidden;
}
#fondo{
    margin: auto;
    position: relative ;
    height: 100%;
    z-index: 2;
}
body{
    margin: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}
#otra{
    height: 30%;
}

tr,th,td{
    border: 1px solid black;
    text-align: center;
}

table{
    width: 90%;
    margin: auto;
}

#add{
    margin: auto;
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}
#config{
    text-align: right;
    margin: 1%;
    margin-right: 3%;
}

